<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
</head>
<body>
<label>Let's add new product</label>
<form action="/product/save" method="post">

    <input type="hidden" name="id" value="{{data.id}}" />

    <input type="text" name="name" value="{{data.name}}" />
    <br />
    <input type="text" name="description" value="{{data.description}}" />
    <br />
    <input type="text" name="price" value="{{data.price}}" />
    <br />



    <button type="submit">Submit</button>



</form>

<br>
</body>
</html>